<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="formBox">
        <form
          #contactForm="ngForm"
          (ngSubmit)="onContactFormSumbit(contactForm)"
        >
          <div class="row">
            <div class="col-sm-12">
              <h1>Contact information</h1>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="inputBox form-group">
                <input
                  type="text"
                  name="firstname"
                  ngModel
                  required
                  class="input form-control"
                  placeholder="First Name"
                />
              </div>
            </div>

            <div class="col-sm-6">
              <div class="inputBox form-group">
                <input
                  type="text"
                  name="lastname"
                  ngModel
                  required
                  class="input form-control"
                  placeholder="Last Name"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="inputBox">
                <div class="inputText form-group"></div>
                <input
                  type="text"
                  name="email"
                  ngModel
                  required
                  email
                  class="input form-control"
                  placeholder="Email"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="inputBox form-group">
                <input
                  type="text"
                  name="mobile"
                  ngModel
                  required
                  class="input form-control"
                  placeholder="Mobile"
                  minlength="10"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <button
                mat-button
                matStepperPrevious
                type="button"
                class="button"
              >
                Back
              </button>
            </div>

            <div class="col-sm-6">
              <button
                mat-button
                matStepperNext
                type="submit"
                class="button"
                [disabled]="!contactForm.valid"
              >
                Next
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
