<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="formBox">
        <form>
          <div class="row">
            <div class="col-sm-12">
              <h1>Contact information</h1>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="inputBox">
                <input
                  type="text"
                  name="firstName"
                  class="input"
                  placeholder="First Name"
                />
              </div>
            </div>

            <div class="col-sm-6">
              <div class="inputBox">
                <input
                  type="text"
                  name="lastName"
                  class="input"
                  placeholder="Last Name"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="inputBox">
                <div class="inputText"></div>
                <input
                  type="text"
                  name="email"
                  class="input"
                  placeholder="Email"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="inputBox">
                <input
                  type="text"
                  name="mobile"
                  class="input"
                  placeholder="Mobile"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <button
                mat-button
                matStepperPrevious
                type="button"
                name=""
                class="button"
              >
                Back
              </button>
            </div>

            <div class="col-sm-6">
              <button
                mat-button
                matStepperNext
                type="submit"
                name=""
                class="button"
              >
                Next
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
