@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

@media (max-width: 400px) {
  .container {
    padding: 200px 0 100px;
  }
  .raw {
    padding: 100px 0px 100px;
  }
  .login-block {
    padding: 200px 0 100px;
  }
  body {
    padding: 200px 0 100px;
  }
}
body {
  background: #c48221; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ffb88c, #dea862);
  background: linear-gradient(to bottom, #ffb88c, #dea862);
}
.login-block {
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #c48221; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ffb88c,
    #dea862
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ffb88c, #dea862);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 50px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  flex-wrap: wrap;
}
.banner-text {
  word-wrap: normal;
  word-break: keep-all;
}
.banner-sec {
  background-size: cover;
  min-height: 500px;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: block;
  justify-content: center;
  align-items: center;
  background: #fff;
  height: auto;
  position: absolute;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}
.carousel-inner {
  border-radius: 0 10px 10px 0;
}
.carousel-caption {
  text-align: left;
  left: 5%;
}

.login-sec {
  padding: 30px 10px;
  position: relative;
}
.login-sec .copy-text {
  position: absolute;
  width: 80%;
  bottom: 20px;
  font-size: 13px;
  text-align: center;
}
.login-sec .copy-text i {
  color: #feb58a;
}
.login-sec .copy-text a {
  color: #e3af62;
}
.login-sec h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 30px;
  color: #dea862;
}
.login-sec h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #feb58a;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}
.btn-login {
  background: #36807c;
  color: #fff;
  font-weight: 600;
  margin-left: 5px;
  display: block;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.banner-text {
  width: auto;
  position: fixed;
  word-wrap: normal;
  bottom: 20px;
  padding-left: 0px;
}
.banner-text h2 {
  color: #fff;
  font-weight: 600;
}
.banner-text h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #fff;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
}
.banner-text p {
  color: #fff;
}
