<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [completed]="false">
    <app-animal-form #formPets></app-animal-form>
  </mat-step>
  <mat-step>
    <app-contact-form></app-contact-form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Preview</ng-template>
    <app-preview></app-preview>
    <!-- <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div> -->
  </mat-step>
</mat-vertical-stepper>
